* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

*,
*:hover,
*:focus,
*:active,
*::after,
*::before {
    outline: none;
    box-sizing: border-box;
    font-weight: normal;
}